body {
    font-family: sans-serif;
}
@media screen and (max-width: 650px) {
    body {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .hidden-on-desktop {
        display: flex;
        justify-content: center;
        margin: auto;
        box-sizing: border-box;
        width: calc(100% - 2em);
        background-color: #b2eeee;
        border: .1rem solid #e5e5e5;
        padding: 1rem;
    }

    .hidden-on-desktop a {
        text-decoration: none;
        color: #000000;
    }

    h1 {
        margin: auto;
        font-size: 3.15em;
    }

    nav {
        width: 100%;
    }

    li {
        display: flex;
        background-color: #d2d2d2;
        box-sizing: border-box;
        margin: .6rem;
        padding: 15px;
        justify-content: center;
    }

    .header-img {
        width: calc(100% - 2em);
        margin: auto;
    }

    img {
        margin: auto;
        width: 100%;
        height: 13em;
    }

    a {
       color: blue;
    }

    section {
        width: calc(100% - 2em);
    }

    footer {
        align-self: flex-start;
        margin-top: 2.5em;
        margin-left: 10px;
        width: calc(100% - 2em);
    }
    ul {
        margin: auto;
        width: 100%;
        box-sizing: border-box;
        padding: 1rem;
        flex-flow: column;
    }
}

@media screen and (min-width: 651px) {
    .hidden-on-desktop {
        display: none;
    }
    /*body {*/
    /*    display: flex;*/
    /*    flex-flow: row wrap;*/
    /*    !*justify-content: ;*!*/
    /*}*/
    h1 {
        float: left;
    }
    nav {
        float: right;
        margin-top: 15px;
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
    }
    ul {
        display: flex;
        flex-flow: row;
        list-style: none;
        padding: 0;
    }
    li {
        padding: 1em;
    }
    .header-img {
        width: calc(100% - 2em);
        margin: auto;
    }

    img {
        margin: auto;
        width: 100%;
    }
    section {
        display: inline;
        width: 45%;
    }
}





.sub-section {
    font-style: italic;
}